/* common */
body {
    font-family: Arial;
    font-size: 12px;
    color: #333;
    background-color: #EEE;
    margin: 0;
}
ul, dl, dt, dd, h1, h2, h3, p, form, input {
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    float: left;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #FF88AF;
    cursor: pointer;
}
.clear {
    clear: both;
}

/* header */
.header {
    height: 60px;
    /*_height: 70px;*/
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 2015;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 2px 1px #ddd;
}
.header .nav {
    width: 1018px;
    height: 61px;
    margin: 0 auto;
    font-size: 14px;
}
.header .nav .logo {
    background: url(../image/logo.png) repeat-x left top;
    float: left;
    height: 60px;
    width: 100px;
    overflow: hidden;
}
.header .nav .logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.header .nav .nav {
    width: 630px;
    height: 60px;
    float: left;
    margin-left: 20px;
}
.header .nav .nav li {
    padding: 0 15px;
    margin: 20px 0;
}
.header .nav .nav li.current a {
    color: #FF88AF;
}
.header .nav .search {
    float: right;
    padding: 14px 0;
    padding: 14px 0;
}
.header .nav .search input[type="text"] {
    color: #999;
    float: left;
    width: 210px;
    height: 32px;
    padding: 8px;
    border: 1px solid #DDD;
    border-right: none;
    outline: none;
}
.header .nav .search input[type="button"] {
    background: #FF88AF;
    border: none;
    color: #fff;
    height: 32px;
    width: 50px;
    cursor: pointer;
    float: left;
}
.header .nav .search input[type="button"]:hover {
    opacity: 0.8;
}

/* main */
.main {
    width: 1018px;
    min-height: 530px;
    margin: 70px auto 0px auto;
}
.main .main-content {
    width: 748px;
    float: left;
    background-color: #fff;
    min-height: 530px;
    padding-bottom: 10px;
}
.main .main-content .album-list li {
    width: 236px;
    height: 410px;
    margin: 10px 0 0 10px;
    background-color: #eee;
}
.main .main-content .album-list li a img {
    width: 236px;
    height: 354px;
}
.main .main-content .album-list li a img:hover {
    opacity: 0.9;
}
.main .main-content .album-list li .title {
    height: 16px;
    line-height: 18px;
    width: 226px;
    padding-top: 8px;
    padding-left: 9px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}
.main .main-content .album-list li > span {
    padding: 1px 0 0 0;
    height: 18px;
    width: auto;
    line-height: 16px;
}
.main .main-content .album-list li .time {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.main .main-content .album-list li .count {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
.main .side-bar {
    width: 260px;
    float: right;
    min-height: 530px;
}
.main .side-bar .widget-top {
    margin-bottom: 10px;
    padding: 9px 10px 8px 10px;
    font-size: 14px;
    display: block;
    background-color: #fff;
}
.main .side-bar .widget-top > span{
    color: #FF88AF;
    margin: 0 5px;
}
.main .side-bar .widget-middle {
    height: 287px;
    margin-bottom: 10px;
    background-color: #fff;
}
.main .side-bar .widget-middle h3 {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #eee;
}
.main .side-bar .widget-middle a {
    float: left;
    display: block;
}
.main .side-bar .widget-middle a img {
    width: 115px;
    height: 115px;
    margin: 10px 0 0 10px;
}

.main .side-bar .widget-fix .ad-fix-middle-right {
    width: 250px;
    height: 250px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}
.main .side-bar .widget-fix .widget-favorite {
    background-color: #fff;
    height: 286px;
}
.main .side-bar .widget-fix .widget-favorite dt {
    overflow: hidden;
}
.main .side-bar .widget-fix .widget-favorite dt span {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    background-color: #eee;
}
.main .side-bar .widget-fix .widget-favorite dt span.selected {
    color: #FF88AF;
    background-color: initial;
}
.main .side-bar .widget-fix .widget-favorite dd {
    display: block;
    padding: 10px 10px 0;
    background-color: #fff;
}
.main .side-bar .widget-fix .widget-favorite dd:hover {
    color: #FF88AF;
}
/*.main .side-bar .widget-fix .widget-favorite .favorite-items li {
    display: block;
}*/

/* footer */
.footer {
    text-align: center;
    width: 1018px;
    height: 60px;
    margin: 14px auto 2px auto;
}
.to-top {

}

/* home */
.home .sub-nav {
    border-bottom: solid 1px #eee;
    height: 45px;
}
.home .sub-nav a {
    margin: 10px 0 10px 10px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #eee;
}
.home .sub-nav a.current,
.home .sub-nav a:hover {
    background-color: #FF88AF;
    color: #fff;
}